{{> header }}


{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1 >Test</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/gluelove.jpg" class="img-thumbnail" alt="">
    </div>
</div>
{{> footer }}